@charset 'UTF-8';
/* ==============================================================================

CSS Information

 File name:	 front-init-mosaka.css
 Style Info: フロントページ 南大阪用設定

============================================================================== */

/* /////////////////////////////////////////////////////////////////////////////

 全体 style

///////////////////////////////////////////////////////////////////////////// */

:root {
	/* 南大阪経営研究会 */
	--color-cust_body      : #fdf3ed;
	--color-cust_primary   : #a6826d;
	--color-cust_secondary : #a72920;
	--color-cust_tertiary  : #e5d0c4;
}
